body > nav {
  position: relative;
  background-color: $nav-bg;
  border: {
    top: 1px solid $nav-border-top;
    bottom: 1px solid $nav-border-bottom; }
  padding-top: .35em;
  padding-bottom: .35em;
  padding-left: 5px;
  padding-right: 5px;
  form {
    padding-top: .05em;
    @include background-clip(padding-box);
    .search {
      font-size: .85em;
      font-family: $sans;
      line-height: 1.1em;
      width: 95%;
      @include border-radius(.5em);
      @include background-clip(padding-box);
      @include box-shadow(lighten($nav-bg, 2) 0 1px);
      border: 1px solid $nav-border;
      background-color: $nav-border-top;
      border-radius: 0.4em 0em 0em 0.4em;
      box-shadow: none;
      border: 0px;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      &:focus {
        border-color: $link-color-hover;
        @include box-shadow($link-color-hover 0 0 4px, $link-color-hover 0 0 3px inset);
        background-color: #fff;
        outline: none;
      }
    }
  }
  fieldset[role=search]{ float: right; width: 48%; }
  fieldset.mobile-nav{ float: left; width: 48%;
    select{ width: 100%; font-size: .8em; border: 1px solid #888;}
  }
  ul { display: none; }
  @media only screen and (min-width: 550px) {
    font-size: 0.95em;
    ul {
      @include horizontal-list(0);
      float: left;
      display: block;
      padding-top: .1em;
    }
    ul.subscription {
      margin-left: .8em;
      float: right;
      li:last-child a { padding-right: 0; }
    }
    ul.subscribe {
      margin-top: -.2em;
      margin-bottom: -.27em;
      margin-left: .8em;
      float: right;
      li:last-child a { padding-right: 0; }
    }
    ul li {
      margin: 0;
    }
    a {
      @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
      font-family: $sans;
      text-shadow: darken($nav-bg, 3) 0 1px;
      float: left;
      text-decoration: none;
      font-size: .9em;
      padding: .3em 0 .1em;
      line-height: 1.5em;
    }
    li + li {
      border-left: 0;
      margin-left: .8em;
      a {
        padding-left: .8em;
        border-left: 1px solid $nav-border-right;
      }
    }
    form {
      float: right;
      text-align: left;
      padding-left: .8em;
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium + 20px;
      .search {
        width: 93%;
        font-size: .95em;
        line-height: 1.2em;
      }
    }
    ul[data-subscription$=email] + form {
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 58px;
      .search { width: 91%; }
    }
    fieldset.mobile-nav { display: none; }
    fieldset[role=search]{ width: 99%; }
  }
  @media only screen and (min-width: 992px) {
    form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 + 10px;
    }
    ul[data-subscription$=email] + form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 - 58px;
    }
  }
}
.no-placeholder {
  body > nav .search {
    text-indent: 1.3em;
  }
}
@mixin whitespace-subscription-button($feed, $feed-retina: ''){
  position: relative; top: 0px;
  text-indent: -999999em;
  border: 0;
  padding: 0;
  &,&:after {
    @include mask-image($feed);
    @if $feed-retina != '' {
      @include mask-image-retina($feed-retina, image-width($feed), image-height($feed));
    }
  }
  &:after {
    content: "";
    position: absolute; top: 0; left: 0;
    background-color: lighten($nav-color, 15);
  }
  &:hover:after { background-color: lighten($nav-color, 20); }
}
@mixin mask-subscription-nav($feed: 'rss.png'){
  position: relative; top: 1px;
  text-indent: -999999em;
  background-color: $nav-border-right;
  border: 0;
  padding: 0;
  &,&:after { @include mask-image($feed); }
  &:after {
    content: "";
    position: absolute; top: -1px; left: 0;
    background-color: lighten($nav-color, 15);
  }
  &:hover:after { background-color: lighten($nav-color, 20); }
}
.maskImage {
  body > nav {
    @media only screen and (min-width: 550px) {
      ul[data-subscription$=email] + form {
        width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 32px;
      }
    }
    @media only screen and (min-width: 992px) {
      ul[data-subscription$=email] + form {
        width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 - 32px;
      }
    }
  }
  ul.subscription { position: relative; top: .2em; li, a { border: 0; padding: 0; }}
  a[rel=subscribe-bitbucket]{ @include whitespace-subscription-button('bitbucket_22_gray.png', 'bitbucket_44_gray.png'); }
  a[rel=subscribe-pinboard]{ @include whitespace-subscription-button('pinboard_22_gray.png', 'pinboard_44_gray.png'); }
  a[rel=subscribe-email]{ @include mask-subscription-nav('email.png'); }
}

svg path.social, svg g.social path, svg g.social rect {
  fill: darken($nav-border-top, 20);
  transition:.3s;
}

svg:hover path.social, svg:hover g.social path, svg:hover g.social rect {
  fill: darken($nav-border-top, 7);
}
