// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

// $sans: "Open Sans","Helvetica Neue", Arial, sans-serif !default;
// $serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
// $mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
// $heading-font-family: "Fjalla One", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
// $header-title-font-family: $heading-font-family !default;
// $header-subtitle-font-family: $serif !default;
