// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: #FFFFFF;

html {
	background: $white;
}

body {
	font-family: $sans !important;
	font-size: 1em;

	> header {
		background: $white;
		text-align: center;
	}
	> nav {
		a {
			font-family: $sans;
			font-size: 0.9em;
			padding-top: 0.3em;
			line-height: 1.5em;
		}
		li + li {
			border-left: 0px;

			a {
				border-left: 0px;
			}
		}
	}

	> div {
		background: $white;
		border-bottom: 0px;

		> div {
			background: $white;
			border-right-width: 0px;
		}
	}

}

article {
	padding-top: 2em;

	.entry-content {
		h3 {
			font-style: italic
		}
	}

	ul, ol {
		margin-left: 2em;
	}

	header {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
		}
	}
}

#content {
	div.pagination {
		background: none repeat scroll 0 0 transparent;
		margin: 0 10px;  
		font-size: 0.95em;
		padding-bottom: 1.5em;
		margin-top: 4em;
		position: relative;
		text-align: center;		
		border-top: dotted 1px #D1D1D1;
		border-bottom: dotted 1px #D1D1D1;
	}

	.blog-index {
		article {
			padding-top: 4em;

			header {
				padding-left: 0;
  				padding-right: 0;
			}
		}

		h1 {
			a {
				font-family: $heading-font-family;
				font-weight: 400;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	.hentry {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
			font-size: 2.2em;
		}
	}
	
}

aside {
	display: none;
}
